@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');
:root {
    --color-bg-main: #efefef;
    --color-bg-6: #1b2026;
    --color-bg-9: #31363b;
    --color-bg-10:  #dce8eb;
    --color-footer: #14191e;
    --color-desc: #bbb;
    --color-desc-main: #777;
    --color-title: #232323;
    --color-title-2: #1b2026;

}
* {
    box-sizing: border-box;
}
body {
    font-family: 'DM Sans', sans-serif;
}
.button-hover-animation:hover {
    transition: all 0.3s;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
@media (max-width: 1199.98px) {
    .container {
        max-width: 960px;
        margin: 0 auto;
    }
}
@media (max-width: 991.98px) {
    .container {
        max-width: 720px;
        margin: 0 auto;
    }
}
@media (max-width: 767.98px) {
    .container {
        max-width: 540px;
        margin: 0 auto;
    }
}
@media (max-width: 575.98px) {
    .container {
        max-width: 100%;
        padding: 0 15px;
    }
}

.button-main  {
    padding: 16px 36px;
    background-color: #59c655;
    display: inline-block;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.button-pink {
    background-color: #F7D9C4;
}
.button-pink:hover {
    background-color: #fff;
}
.button-black {
    color: #fff;
    background-color: #000;

}
.button-black:hover {
    transform:  scale(1.1);
}
.button-transparent {
    background-color: #00000000;
    border: 2px solid #464646;
    color: #fff;

}
.button-transparent:hover {
    background-color: #F7D9C4;
    color: #000;
}
.title-head {
    font-size: 17.6px;
    color: var(--color-desc-main);
    font-weight: 700;
    margin: 0 0 16px;
}
.title-main {
    font-size: 60.8px;
    color: var(--color-title);
    line-height: 1.1;
}

.header .dp-block {
    display: block !important;
}
/* @media (max-width: 991.98px) {
    .header .dp-block {
        display: block ;
    }
} */